.dropzone-box {
  height: 100px;
  line-height: 96px;
  border-width: 2px;
  border-color: #666;
  border-style: dashed;
  border-radius: 5px;
  cursor:pointer;
  text-align: center;
  margin-bottom: 10px;
}

.dropzone-preview {
  margin-top: 20px;

  .preview-row{
    border-top: #d6d6d6 1px solid;
    padding: 0px 5px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.dropzone-preview .filename {
  display:inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  padding-left: 5px;
  padding-right: 5px;
}

.dropzone-preview .img-wrapper {
  float: left;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 5px 5px;

  &:before {
    content:" ";
    display:inline-block;
    height:100%;
    vertical-align:middle;
  }
}

.dropzone-preview .img-wrapper img {
  max-width:100%;
  max-height:100%;
  display:inline-block;
  cursor: pointer;
}

.dropzone-preview .preview-row p {
	display: block;
	width: 0%;
  height: 0px;
  margin-bottom: 5px;
  background-color: #00da5e;
}

/* image preview */

#imagemodal {
  .modal-dialog {
    display: inline-block;
    width: auto;

    .modal-content {
      display: inline-block;

      img {
        max-width:100%;
        max-height:100%;
      }
    }
  }
}

@media(max-width:768px) {
  #imagemodal {
    .modal-dialog {
      display: block;

      .modal-content {
        display: block;
      }
    }
  }
}

/* image preview */
